<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dinaham.sikarbing">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Sikambing"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/no">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Diagnosa"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InfoPenyakit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Riwayat"
            android:theme="@style/AppTheme" />

        <activity android:name=".Utama"
            android:theme="@style/no">

        </activity>

        <activity android:name=".Bantuan"
            android:theme="@style/AppTheme">

        </activity>

    </application>

</manifest>